# Root
NODE_ENV=development

# API
# Para deploy (Vercel) use Postgres
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DBNAME?schema=public
JWT_SECRET=change-me

# Web
VITE_API_URL=http://localhost:3333
